#login-container {
    min-height: 90.9vh;
    background-image: url('../resort-background-image.JPG');
    background-size: cover;
}

#login-title {
    padding-top: 3vh;
    margin-top: 0;
    text-shadow: 1.2px 0 0 #000, 0 -1.2px 0 #000, 0 1.2px 0 #000, -1.2px 0 0 #000;
}

#login-form {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 1vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
    color: black;
}

#username-login, #password-login {
    border-radius: 5px;
    border-color: rgb(214, 209, 209);
    display: block;
    margin: 5px auto 5px auto;
}

#submit-login {
    background-color: rgb(92, 209, 238);
    height: 4vh;
    width: 9vh;
    border-radius: 5px;
    margin-bottom: 2vh;
}

#submit-login:hover {
   cursor: pointer;
   box-shadow: 1px 1px gray;
}

#login-error {
    margin-top: 0;
    margin-bottom: 2vh;
}

#login-form a {
    color: black;
    padding-top: 5px;
}

